.header {
    display: flex;
    height: 15vh;
    background-color: bisque;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.header_logo .logo {
    font-size: 50px;
    padding-left: 40px;
    line-height: 15vh;
}
.header_nav {
    display: flex;
    width: 50vh;
    justify-content: space-between;
}
.header_nav a{
    text-decoration: none;  
    color: black ;
    font-size: 20px;
}

.header_button {
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    width: 10vh;
    line-height: 15vh;
    font-size: 30px;
    cursor: pointer;
}

