.body{
    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh;
}
.body-left{
    flex:1;
    background-color: aquamarine;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.body-right{
    flex: 2;
    background-color: blueviolet;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}